.DS_Store
._*

__pycache__
*.py[cod]
*$py.class
.mypy_cache
*-lock.json

*.swo
*.swp
*.pyo
*.pyc
*.env

__bundle__

coverage.xml

docker/data
docker/data/*
!docker/data/boltz
docker/data/boltz/*
!docker/data/boltz/boltz.conf
