.DS_Store
._*
.idea

__pycache__
*.py[cod]
*$py.class
.mypy_cache
*-lock.json

*.swo
*.swp
*.pyo
*.pyc
*.env

__bundle__

coverage.xml

dist
docker/data/*

!docker/data/electrs
docker/data/electrs/*
!docker/data/electrs/config.toml

!docker/data/boltz
docker/data/boltz/*
!docker/data/boltz/boltz.conf

!docker/data/elements
docker/data/elements/*
!docker/data/elements/elements.conf
